
<div class="right-widget recent-post">
  <h3>Recent Blogs</h3>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/img1.jpg" alt="blog1" />
          </div>
          <div class="rb-box-desc">
              <h4>Sample blog post 1</h4>
              <p>Posted On: October 22, 2018</p>
          </div>
      </div>
  </a>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/img2.jpg" alt="blog1" />
          </div>
          <div class="rb-box-desc">
              <h4>Sample blog post 2</h4>
              <p>Posted On: October 22, 2018</p>
          </div>
      </div>
  </a>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/img3.jpg" alt="blog1" />
          </div>
          <div class="rb-box-desc">
              <h4>Sample blog post 3</h4>
              <p>Posted On: October 22, 2018</p>
          </div>
      </div>
  </a>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/img4.jpg" alt="blog1" />
          </div>
          <div class="rb-box-desc">
              <h4>Sample blog post 4</h4>
              <p>Posted On: October 22, 2018</p>
          </div>
      </div>
  </a>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/img5.jpg" alt="blog1" />
          </div>
          <div class="rb-box-desc">
              <h4>Sample blog post 5</h4>
              <p>Posted On: October 22, 2018</p>
          </div>
      </div>
  </a>
</div>
